.clock-container {
    display:table;
    width:100%;
}
.clock {
    width:75px;
    height:75px;
    background:white;
    border-radius: 50%;
    border: 5px solid #41484c;
    position:relative;
    float:left;
}

.clock:after {
    background: black;
    border-radius: 4px;
    display:block;
    top:50%;
    left:50%;
    margin: -4px 0 0 -4px;
    position:absolute;
    height:8px;
    width:8px;
    content: "";
}
.hours {
    position: absolute;
    background: black;
    top:50%;
    left:50%;
    border-radius: 4px 0 0 4px;
    margin: -3px 0 -3px -25%;
    padding: 3px 0 3px 25%;
    transform-origin: 100% 50% 0;
    -ms-transform-origin: 100% 50% 0;
    -webkit-transform-origin: 100% 50% 0;
}

.minutes {
    position: absolute;
    background: black;
    top:50%;
    left:50%;
    border-radius: 3px 3px 0 0 ;
    margin: -40% -2px 0;
    padding: 40% 2px 0 ;
    transform-origin:50% 100% 0;
    -ms-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
}

.seconds {
    position: absolute;
    background: black;
    top:50%;
    left:50%;
    border-radius: 1px 1px 0 0 ;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0 0;
    transform-origin: 50% 100% 0;
    -ms-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
}
