
/* 
    Created on : 06.12.2013, 22:44:15
    Author     : Cosmin
*/

.openingHoursContainer, .openingHoursContainer1 {
    max-width:385px;
    display:table;
    margin:0 auto;
}

.dayContainer {
    width:100%;
    float:left;
}

.day {
    width:51%;
    float:left;
    text-align: left;
}

.hour {
    width:49%;
    float:right;
}
